*{
	margin: 0;
	border: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
}



a {
	color: #736F6F;
	text-decoration: none;
	display: inline-block;
}

a:hover {
	text-decoration: underline;
}

#navbar {
	list-style-type: none;
	margin: 30px 50px;
	padding: 0;
	float: right;
}

#navbar li {
	display: inline;
	margin-right: 20px;
	font-size: 12px;
	float: left;
}

#logo {
	position: absolute;
	top: 35%;
	left: 40%;
}

.search-bar {
	position: absolute;
	top: 50%;
	left: 29%;
	border: 1px solid black;
	width: 41%;
	height: 4%;
}

.button {
	position: absolute;
	top: 60%;
	left: 37%;
}

footer {
	height: 50px;
	width: 100%;
	background: #F2F2F2;
	bottom: 0;
	position: fixed;
}

#footer-left {
	float: left;
	margin-left: 20px;
}

#footer-right {
	float: right;
	margin-right: 20px;
}

#footer-links li {
	list-style-type: none;
	display: inline;
	margin: 20px 10px;
}

#footer-links li a {
	margin-top: 15px;
	font-size: 14px;
	margin-right: 10px;
}


